@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fontello";
  src: url("./font/fontello.eot?65716439");
  src: url("./font/fontello.eot?65716439#iefix") format("embedded-opentype"),
    url("./font/fontello.woff?65716439") format("woff"),
    url("./font/fontello.ttf?65716439") format("truetype"),
    url("./font/fontello.svg?65716439#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #e1dcd9;
  color: #32435f;
  font-family: "GmarketSansMedium";
}
@media (max-width: 1420px) {
  body {
    font-size: 0.9em;
  }

  h1 {
    font-size: 5rem;
  }
  .ItitleE {
    font-size: 1.3rem;
  }
  p.lead {
    font-size: 1rem;
  }
  .social-icons .social-icon {
    width: 3.2rem;
    height: 3.2rem;
  }
}

@media (max-width: 1100px) {
  body {
    font-size: 0.8em;
  }

  h1 {
    font-size: 4.5rem;
  }
  .ItitleE {
    font-size: 1.1rem;
  }
  p.lead {
    font-size: 0.9rem;
  }
  .social-icons .social-icon {
    width: 2.8rem;
    height: 2.8rem;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 5rem;
  }
  body {
    font-size: 1em;
  }
  .ItitleE {
    font-size: 1.3rem;
  }
  p.lead {
    font-size: 1rem;
  }
  .social-icons .social-icon {
    width: 3.2rem;
    height: 3.2rem;
  }
}

@media (max-width: 870px) {
  h1 {
    font-size: 4.5rem;
  }
  body {
    font-size: 0.9em;
  }
  .ItitleE {
    font-size: 1.1rem;
  }
  p.lead {
    font-size: 0.9rem;
  }
  .social-icons .social-icon {
    width: 2.9rem;
    height: 2.9rem;
  }
}

@media (max-width: 766px) {
  h1 {
    font-size: 4rem;
  }
  body {
    font-size: 0.8em;
  }
  .ItitleE {
    font-size: 1rem;
  }
  p.lead {
    font-size: 0.8rem;
  }
  .social-icons .social-icon {
    width: 2.6rem;
    height: 2.6rem;
  }
}

a {
  color: #a67f78;
}

.text-primary {
  font-family: "GmarketSansMedium";
  font-size: 0.8em;
  margin-top: 5px;
}

.text-etc {
  font-family: "GmarketSansMedium";
  color: #d98d72;
  font-size: 1em;
}
.demo-icon {
  font-family: "fontello";
  font-style: normal;
  font-size: inherit;
  height: 1em;
  width: 1em;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
